.container {
    max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  background-color: white;
  }
  
  .row {
    width: 95%;
  padding: 5px;
  font-size: 16px;
  }
  
  .form-group {
    margin-bottom: 10px;
  background-color: white;
  }

  .h{
    text-align: center;
  color: blue;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Add more styles as needed... */
  